.artikujt {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  width: 90%;
  flex-wrap: wrap;
  gap: 0.8em;
}

.titulliArtikuj {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2em;
  width: 100%;
  padding-left: 1em;
}

.titulliArtikuj h1 {
  margin-bottom: 0.5em;
  font-weight: 500;
  color: #0f243b;
}

.artikulli {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-basis: 205px;
  gap: 0.5em;
  background-color: #fff;
  box-shadow: 0 0 10px #d3d3d3;
  box-sizing: border-box;
  margin: 0.5em;
  padding: 1em;
  border-radius: 25px;
}

.artikulliLabel {
  text-align: center;
  font-size: 10pt;
  color: rgb(99, 93, 93);
}

.artikulli img {
  width: 90%;
  aspect-ratio: 3/2;
  object-fit: contain;
  margin-bottom: 0.5em;
}

.artikulli a {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.cmimi {
  font-weight: bold;
}


.navigimiFaqev {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.faqjaAktive {
  color: white;
  border: none;
  padding: 0.6em;
  border-radius: 100px;
  background-color: #01df93;
}

.faqjaAktive:hover {
  cursor: pointer;
  color: white;
  background-color: #01df93;
}

.faqjaTjeter {
  color: black;
  border: none;
  padding: 0.6em;
  border-radius: 100px;
}

.faqjaTjeter:hover {
  cursor: pointer;
  color: white;
  background-color: #01df93;
}