.flex-column {
  margin-bottom: 1em;
  padding: 1em;
  width: 1em;
}
.nav-bc-color {
  background-color: #009879;
}

.col {
  width: 100%;
  margin: 1em;
  height: auto;
  flex: 0.5;
}
.colum {
  width: 7em;
  margin: 0.01em;
  padding: 0.4em;
}

.td {
  width: 2em;
}

@media (max-width: 767px) {
  .normalMenu {
    display: none;
  }
}

@media (min-width: 768px) {
  .hamburgerMenu {
    display: none;
  }
}

