table {
  width: 100%;
}
.containerDashboardP tr th {
  margin-top: 3em;
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.containerDashboardP th,
.containerDashboardP td {
  padding: 12px 15px;
}

.containerDashboardP tr td {
  border-bottom: 1px solid #dddddd;
}

.containerDashboardP h1{
  text-align: center;
}

.DataPerFiltrim{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  margin-bottom: 0.5em;
  flex-wrap: wrap;
  margin-left: 1em;
}